.notificationContainer {
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
}

.notificationContainer button {
    position: relative;
    right: -0.3em;
    top: 0;
    float: right;
    font-weight: 700;
    color: #fff;
    outline: none;
    border: none;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.8;
    line-height: 1;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.toast {
    width: 365px;
    color: #fff;
    padding: 10px 15px 10px 10px;
}


.notification {
    background: #fff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 30px;
    margin-bottom: 15px;
    width: 300px;
    max-height: 100px;
    border-radius: 3px 3px 3px 3px;
    opacity: 0.9;
    background-position: 15px;
    background-repeat: no-repeat;
}

.notification:hover {
    -webkit-box-shadow: 0 0 12px #fff;
    box-shadow: 0 0 12px #fff;
    opacity: 1;
    cursor: pointer;
}

.notification.success {
    background-color: #FF177C;
}

.notification.danger {
    background-color: #d9534f;
}

.notificationTitle {
    font-weight: 700;
    font-size: 16px !important;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px !important;
    width: 300px;
    height: 18px;
    color: #fff !important;
}

.notificationMessage {
    margin: 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff !important;
}

.bottomRight {
    bottom: 12px;
    right: 12px;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-animation: toast-in-right 0.7s;
    animation: toast-in-right 0.7s;
}

.notificationImage {
    float: left;
    margin-right: 15px;
    font-size: 30px;
}

