.popup-modal {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    background-color: transparent;
    transform: translateY(100%); /* Start the modal off-screen */
    transition: transform 3s;
    overflow: hidden;
  }
  
  .popup-modal.open {
    transform: translateY(0%); /* Move the modal into the viewport */
  }
  